body{
  margin: 0;
  padding: 0;
  background: #f8f8ff;
}

.box{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  overflow: hidden;
}

.box .b{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate();

}
